.project {
    width: 250px;
    background-color:gold;
    flex-direction: column;  /* colomn - это главная ось*/
    display: flex;
    align-items: center; /*align-items выравнивает по всторостепенной оси */
    text-align: left; /*выравнивает строчный элемент внутри блочного*/
}

.image {
    height: 80px;
    width: 60px;
    background-color: rgb(216, 18, 18);
}

.projectName {
    text-align: left;
}